body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: tan;
    text-align: center;
}



/* General navigation control */
.nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navlist {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    font-size: large;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.navlist li a {
    transition-duration: 0.4s;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

/* Logo specific modifications */
.logo li a {
    float: left;
    padding: 14px 4px;
}

.logo li:first-child a img{
    width: 60px;
    height: auto;
}

.logo li:first-child a {
    padding: 0;
}

/* navigation tab specific highlighting */
.tabs li a{
    float: right;
}

h1 {
    text-align: center;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    position: relative;
    bottom: 0;
}

#tracker-header {
    text-align: center;
}

.tabs li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.tabs li a:active {
    background-color: (255, 255, 255, 0.4);
    border-radius: 25px;
}

.progressWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-container {
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
}
.progress-bar {
    height: 30px;
    width: 0%;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    margin-top: 0px;
}

.profile-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    text-align: left;
    margin-top: 50px;
}

.profile-container label {
    font-weight: bold;
}

.profile-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    align-self: center; 
}

#edit-btn {
    background-color: #007BFF;
    color: white;
}

#save-btn {
    background-color: #28A745;
    color: white;
}
